#scatola1 {
    margin-left: 25%;
    margin-right: 25%;
}


#sfondo {
    text-align: center;
    background-color: rgba(237,237,237,255);
   border-bottom: 2px outset rgba(212,151,32,255);
}


#centro {
    display: block;
    margin: 0px auto;
    text-align: center;
    }

h2 {
    color: orange;
}

h3 {
     font-style: italic;
}

p {
    resize: 900px
}

#final {
    text-align: center;
}